version: '3'

services:
  tor:
    image: zeta0/alpine-tor:latest
    ports:
      - "8118:8118"
      - "2090:2090"
    environment:
      - tors=100
      - privoxy=1
  subcrawler:
    build: .
    volumes:
      - "/data:/data"
    depends_on:
      - tor
    command: crawl subhd

